# Ignore logs folder
logs/

# Ignore .env 
.env

# Ignore files created in generic folder while running local sim
/generic/generic_unzipped/
/generic/__pycache__/
/generic/*_conf.yaml
/generic/*.fmu
/generic/interface.json
