# Visual Studio cache/options directory
.vs/

*.DS_Store
*node_modules
**/bin/*
**/obj/*
.vscode/*

# Add ignore files here as needed based on the language/tools that are used in the connector...
.env
**/__pycache__/*

# Cached unzipped FMU contents
*_unzipped/

# Don't check in FMU files inside the generic folder itself
/generic/*_conf.yaml
/generic/*.fmu
/generic/interface.json

# Don't check in the Sim.zip file copied into the root when building containers
/Sim.zip

# Don't check this file in
fm_RSM_FMU_Pipeline.fmu
